<html>
<link rel="Stylesheet" href="./css/main.css" type="text/css" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Refresh" content="5;url='./login'">
<head>
  <title>タイムアウト</title>
</head>
<body>
  <div id="header"></div>
  <br/><br/>
  <table cellpadding="0" width="852">
    <tr>
      <td align="center">
        <span class="bold">タイムアウトしました</span><br/>
        <br/><br/>
        5秒後にログインページにジャンプします。<br/>
        <br/>
        ジャンプしないときはログインボタンをクリックしてください。
        <br/>
        <br/>
        <button type="button" onclick="location.href='./login'">ログイン</button>
      </td>
    </tr>
  </table>
</body>
</html>