<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<BODY>
  <!-- <header th:replace="fragments/header::common_header"></header> -->
  <!-- コンテンツの表示 -->
  <div layout:fragment="content"class="container-fluid">

<div class="subtitle category_IB">
  <div class="subtitle_text">検索条件</div>
  <div class="subtitle_right">
    <input type="button" id="srhCondToggleBtn" class="btn" value="" >
  </div>
</div>
<form name="simpleKanbanForm" th:action="@{/inboundSimpleKanbanDeljit/list?page=0}" th:object="${simpleKanbanForm}" method ="POST" novalidate>
<table class="caption" id="srhCondTable">
  <tbody>
    <tr>
      <th width="11%">納入場所</th>
      <th:block th:if="${simpleKanbanForm.userDischargePlaceCode}">
        <td th:text="*{shipToReciveCode}"></td>
      </th:block>
      <th:block th:if="${!simpleKanbanForm.userDischargePlaceCode}">
        <td><input type="text" th:field="*{shipToReciveCode}"></td>
      </th:block>
      <td width="10%" align="center">
        <input type="submit" class="btn_size4" value="検索" name="refresh" >
      </td>
    </tr>
  </tbody>
</table>
<br>

<div class="subtitle category_IB">
  <DIV class="subtitle_text">対象部品一覧</DIV>
  <th:block th:if="${simpleKanbanForm.authorized}">
  <DIV class="subtitle_right">
    <th:block th:if="${simpleKanbanForm.authorized}">
      <input type="submit" class="btn_size6" value="納入指示実行" name="deljitRun" >
    </th:block>
  </DIV>
  </th:block>
</DIV>
<table class="caption" id="srhCondTable">
<TBODY>
  <tr>
    <th width="10%">処理日</th>
    <td width="20%">
      <input type="text" th:field="*{iptOperationDate}" class="field_ymd_css" maxlength="$field.ymd.maxLength">
      <input name="calendar1" type="button" value="  " class="calendarbtn" onClick="wrtCalendarLay(this.form.iptOperationDate, event)" >
    </td>

    <th width="10%">納入指示日-便</th>
    <td width="50%">
      <input type="text" th:field="*{iptShipmentDate}" class="field_ymd_css" maxlength="$field.ymd.maxLength">
      <input name="calendar2" type="button" value="  " class="calendarbtn" onClick="wrtCalendarLay(this.form.iptShipmentDate, event)" >
      -
      <input type="text" th:field="*{iptShipmentNo}" maxlength="2"  size="2" style="text-align: left" >
      <input type="submit" class="btn_size6" value="一括登録" name="allInsert" >
    </td>
  </tr>
</TBODY>
</table>
<br>
<th:block th:with="pagerInfo=*{pageList}">
  <div th:if="${pagerInfo.content.size() == 0}">
    かんばん納入指示対象はありません<br><br>
    <br>
    <br>
  </div>
  <div th:if="${pagerInfo.content.size() != 0}">
  <table class="list">
    <colgroup align="center"/>
    <colgroup />
    <colgroup />
    <colgroup />
    <colgroup align="center"/>
    <thead>
      <tr>
        <th rowspan="2" class="checkbox_cell"><input type="checkbox" id="allCheck" ></th>
        <th class="8byte_cell"    rowspan="2">納入場所</th>
        <th class="10byte_cell"   rowspan="2">出荷元</th>
        <th class="10byte_cell"   rowspan="2">出荷元工区</th>
        <th class="10byte_cell"   rowspan="2">出荷場所</th>
        <th class="14byte_cell"   rowspan="2">前回処理日</th>
        <th class="14byte_cell"   rowspan="2">前回納入指示日</th>
        <th class="8byte_cell"    rowspan="2">便</th>
        <th class="18byte_cell"   rowspan="2">納入指示日</th>
        <th class="8byte_cell"    rowspan="2">便</th>
        <th class="30byte_cell"   rowspan="2">備考</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="simpleKanbanDeljitBean : ${pagerInfo.content}" th:object="${simpleKanbanDeljitBean}" >
      </tr>
    </tbody>
  </table>
  <table class="pager">
    <tr>
      <td><div id="pager" th:replace="fragments/pager">pager</div></td>
    </tr>
  </table>
  </div>
</th:block>

</form>
  </div>
</BODY>
</HTML>
