<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>hello</title>
<script>
function subwin(jpURL){
  window.open(jpURL,"","width=1366,height=768,top=0,left=0");
}
</script></head>
<body>
  <h1 th:text=${appName}>app name</h1>
  <div>
    <p th:text=${message}>message</p>
    <p th:text=${now}>now time</p>
  </div>
  <div>
    <a href="/twg-edi/teacher">MyBatis Sample(teacher)→テーブル削除したので使用不可ソースのサンプル程度で</a><br>
    <a href="/twg-edi/login">新オプション開発用ログイン</a>
    <input class="btn btn-default" type="button" value="EDIログイン画面表示" onclick="subwin('/twg-edi/login')"/>
  </div>
  <div>
    <img src="../../public/images/test.jpg" th:src="@{/images/test.jpg}" />
  </div>
</body>
</html>