<!DOCTYPE html>
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<BODY>
  <!-- <header th:replace="fragments/header::common_header"></header> -->
  <!-- コンテンツの表示 -->
  <div layout:fragment="content"class="container-fluid">


<div class="subtitle category_MA">
  <div class="subtitle_text">CSVファイルアップロードサンプル</div>
</div>
<form id="uploadForm" name="uploadForm" th:action="@{/upload/file}" th:method="POST" enctype="multipart/form-data">
<table class="caption" width="100%">
<TBODY>
  <tr>
    <th>アップロードファイル</th>
    <td>
      <input type="file" name="upload_file" />
    </td>
    <td align="center">
      <button type="submit">アップロード</button>
    </td>
  </tr>
</TBODY>
</table>
<br>
<div class="subtitle category_MA">
  <div class="subtitle_text">アップロード内容</div>
</div>
<th:block th:with="list=${list}">
  <div th:if="${list.size() == 0}">
  <table class="list">
    <tbody>
      <tr>
        <td>CSVファイルはありません</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div th:if="${list.size() != 0}">
  <table class="list">
    <tbody>
      <tr th:each="str : ${list}" >
        <td>[[${str}]]</td>
      </tr>
    </tbody>
  </table>
  </div>
</th:block>
</form>

  </div>
</BODY>
</HTML>
